<section id="academics" class="py-20 bg-gray-100">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-12">Academics</h2>
      <div class="timeline">
  
        <!-- Master of Science -->
        <div class="timeline-item">
          <div class="date">Aug 2023 – May 2025</div>
          <div class="content">
            <h3 class="text-xl font-bold mb-0">Master of Science in Computer Science</h3>
            <p class="text-lg italic font-semibold">Stony Brook University, New York</p>
            <p class="text-lg italic">GPA: 3.97/4.0</p>
            <!-- <p class="text-lg">Courses: Operating Systems, Computer Vision, Quantum Computing, Data Science, Database Systems, Smart Energy, Reinforcement Learning</p> -->
          </div>
        </div>
  
        <!-- Bachelor of Technology -->
        <div class="timeline-item">
          <div class="date">Aug 2018 – May 2022</div>
          <div class="content">
            <h3 class="text-xl font-bold mb-0">Bachelor of Technology in Computer Engineering</h3>
            <p class="text-lg italic font-semibold">Vishwakarma Institute of Technology, Pune</p>
            <p class="text-lg italic">GPA: 9.49/10</p>
            <!-- <p class="text-lg">Courses: Algorithms, Data Structures, Networks</p> -->
          </div>
        </div>
  
        <!-- Princeton Summer Program -->
        <div class="timeline-item">
          <div class="date">Summer 2017</div>
          <div class="content">
            <h3 class="text-xl font-bold mb-0">Summer Program for Algorithmic and Combinatorial Thinking</h3>
            <p class="text-lg italic font-semibold">Princeton University, New Jersey</p>
          </div>
        </div>
  
        <!-- Higher Secondary Certificate -->
        <div class="timeline-item">
          <div class="date">Aug 2016 – Jun 2018</div>
          <div class="content">
            <h3 class="text-xl font-bold mb-0">Higher Secondary Certificate</h3>
            <p class="text-lg italic font-semibold">Maharashtra Technical Education Society's Jr. College, Pune</p>
            <p class="text-lg italic">Grade: 85.38%</p>
          </div>
        </div>
  
        <!-- Secondary School Certificate -->
        <div class="timeline-item">
          <div class="date">Jun 2016</div>
          <div class="content">
            <h3 class="text-xl font-bold mb-0">Secondary School Certificate</h3>
            <p class="text-lg italic font-semibold">Bhartiya Vidya Bhavan Paranjape Vidya Mandir, Pune</p>
            <p class="text-lg italic">Grade: 95.40%</p>
          </div>
        </div>
  
      </div>
    </div>
</section>
  